<!-- start custom footer snippets -->

<!-- search plugin: swifttype -->
<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
  
  _st('install','z-2y-s36sfMPmSbEwpuR','2.0.0');
</script>

<!-- <div align="center" class="oama-ad-holder" style="margin-bottom:10px;" data-uuid="1418c0f6-bcae-4d84-bf9b-1e4447e6b3d7"></div>

<div class="polar-ads-container">
  <div class="sidebar">
    <div class="navigation">
      <a id="polar-ads-close" data-category="close" class="control" style="margin-right:10px" href="#">
        <img src={{"/assets/images/icons/polar-sidebar-close.png" | absolute_url }} style="width:20px" alt="">
      </a>
    </div>
    <div class="content text-center" style="margin-top: 30px; height: 100%;" id="polar-iframe-holder">
      <!--<div class="container text-center" id="polar-iframe-holder">-->
        <!--<a href="https://click.linksynergy.com/fs-bin/click?id=wZ000BrkLgw&offerid=493407.10001619&subid=0&type=4" target="_blank"><IMG border="0"   alt="Microsoft" src="http://merchant.linksynergy.com/fs/banners/24542/24542_10001284.jpg"></a>-->
      <!--</div>-->
<!--     </div>
  </div>
</div> -->

<!-- chitika -->
<!--<div align="center" style="margin-bottom:10px;">-->
  <!--<div class="chitika-ads-container"></div>-->
<!--</div>-->
<script type="text/javascript">
  var chitikaPublisherName = "prakash_arsenal";
  var $chitikaAdHolders = document.getElementsByClassName('chitika-ads-container');
  var chitikaAdholdersCount = $chitikaAdHolders.length;

  var setAdUnitDimensions = function (unit, width, height) {
    unit.width = width;
    unit.height = height;
  };


  var insertChitikaAd = function ($holder) {
    var adWidth = 0;
    if ($holder.getBoundingClientRect().width) {
      adWidth = $holder.getBoundingClientRect().width; // for modern browsers
    } else {
      adWidth = $holder.offsetWidth; // for old IE
    }

    var unit = {
      "calltype":"async[2]",
      "publisher": chitikaPublisherName,
      "sid": "Chitika Default"
    };
    if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
    if ( adWidth >= 728 )
      setAdUnitDimensions(unit, 728, 90);
    else if ( adWidth >= 468 )
      setAdUnitDimensions(unit, 550, 250);
    else if ( adWidth >= 336 )
      setAdUnitDimensions(unit, 336, 280);
    else if ( adWidth >= 300 )
      setAdUnitDimensions(unit, 300, 250);
    else if ( adWidth >= 250 )
      setAdUnitDimensions(unit, 250, 250);
    else if ( adWidth >= 200 )
      setAdUnitDimensions(unit, 200, 200);
    else if ( adWidth >= 180 )
      setAdUnitDimensions(unit, 180, 150);
    else
      setAdUnitDimensions(unit, 125, 125);
    var placement_id = window.CHITIKA.units.length;
    window.CHITIKA.units.push(unit);
    $holder.innerHTML = '<div id="chitikaAdBlock-' + placement_id + '"></div>';
  };

  for(var i=0; i<chitikaAdholdersCount; i++){
    insertChitikaAd($chitikaAdHolders[i]);
  }
</script>
<script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
<!-- Hotjar Tracking Code for https://www.sharmaprakash.com.np/ -->
<!-- <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:525052,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script> -->

<!-- smartlook Tracking Code for https://www.sharmaprakash.com.np/ -->
<!-- <script type="text/javascript">
    window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', '753c46dffb881f9bb96dedf1277b7c588d13013e');
</script> -->

<!-- jaco(https://bo.getjaco.com/backoffice/projects) Tracking Code for https://www.sharmaprakash.com.np/ -->
<script type="text/javascript">
(function(e,r){function n(e,r){e[r]=function(){e.push([r].concat(Array.prototype.slice.call(arguments,0)))}}function o(){var e=r.location.hostname.match(/[a-z0-9][a-z0-9\-]+\.[a-z\.]{2,6}$/i),n=e?e[0]:null,o="; domain=."+n+"; path=/; expires=" + new Date(new Date().setFullYear(new Date().getFullYear() + 1)).toUTCString();r.cookie=r.referrer&&-1===r.referrer.indexOf(n)?"jaco_referer="+r.referrer+o:"jaco_referer="+t+o}var a="JacoRecorder",t="none";!function(e,r,t,i){if(!t.__VERSION){e[a]=t;for(var c=["init","identify","startRecording","stopRecording","removeUserTracking","setUserInfo","trackEvent"],s=0;s<c.length;s++)n(t,c[s]);o(),t.__VERSION=2.1,t.__INIT_TIME=1*new Date;var f=r.createElement("script");f.async=!0,f.setAttribute("crossorigin","anonymous"),f.src=i;var d=r.getElementsByTagName("head")[0];d.appendChild(f)}}(e,r,e[a]||[],"https://recorder-assets.getjaco.com/recorder_v2.js")}).call(window,window,document);
window.JacoRecorder.init("ad79c64f-00bb-4cbf-979b-2e0b7b02011e");
</script>
<!-- end custom footer snippets -->
