<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="shortcut icon" href="/assets/images/favicon.ico">

<!-- google adsense -->
<!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
<!--<script>-->
  <!--(adsbygoogle = window.adsbygoogle || []).push({-->
    <!--google_ad_client: "ca-pub-6416889815673976",-->
    <!--enable_page_level_ads: true-->
  <!--});-->
<!--</script>-->
<!-- end custom head snippets -->

<script>
  window['_nptads_debug'] = false;
  window['_nptads_host'] = 'ads.truemark.com.np';
  window['_nptads_site_id'] = 'NP201803172';
  window['_nptads_namespace'] = 'NP201803172'`;

  (function () {
    var hostUrl = window.location.protocol + '//' + window['_nptads_host'];
    var scriptSrc = hostUrl + '/true_ads.min.js';
    var scriptTag = document.createElement('script');
    scriptTag.setAttribute('type', 'text/javascript');
    scriptTag.setAttribute('async', true);
    scriptTag.setAttribute('defer', true);
    scriptTag.setAttribute('src', scriptSrc);
    document.getElementsByTagName('body')[0].appendChild(scriptTag);
  })();
</script>
